.section__photo {
    border: solid 1px;
    margin-top: 60px;
    max-width: 1000px;
    background-color: rgba(255, 255, 255, 0.857);
}

.header__photo {
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 3px;
    text-align: center;
    padding-top: 20px;
}

.flex__photo {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.flexPhoto__item {
    margin: 15px;
}